---
const list = Astro.props.list
---

<div class="list">
	{list.filter(x => x.profile_path).map((person) => (
	<a class="item frame" href={`/person/${person.id}`}>
		<img src={`https://image.tmdb.org/t/p/w200${person.profile_path}`} draggable="false" />
		{person.job == 'Director' && (
		<div class="frame-tag" style="top:0;left:0;font-size:1rem;">Đạo diễn</div>
		)}
		<div class="frame-title">{person.name}</div>
	</a>
	))}
</div>

<style>
	.list {
		display: flex;
		gap: 1rem;
		padding-bottom: 1rem;
		overflow-x: auto;
  		scrollbar-color: gray gainsboro;
	}
	.item {
		position: relative;
		img {
			width: 10rem;
			aspect-ratio: 2/3;
		}
	}
</style>
